.wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  @media only screen and #{$tablet} {
    width: $full-width;
  }
}

.mainContent {
  background-image: url("#{$imagePath}/kohtao.jpg");
  height: 40vh;
  background-size: cover;
  overflow: hidden;
  @media only screen and #{$tablet} {
    height: 64.6vh;
  }
}
