// Sub Content Containers

.subContent1 {
  @extend %subContent-container;
  @extend %centeredText;
  text-transform: uppercase;
  background-color: $aqua;
  @media only screen and #{$mobile} {
    min-height: 0px;
    overflow: hidden;
    height: 6vh;
    padding-top: .7em;
    width: $full-width;
  }
  @media only screen and #{$tablet} {
    float: left;
    width: 49%;
    height: 33.8vh;
  }
}



.subContent2 {
  @extend %subContent-container;
  background-color: $aqua;
  @media only screen and #{$mobile} {
    min-height: 0px;
    overflow: hidden;
    height: 18vh;
    padding-bottom: 40px;
  }
  @media only screen and #{$tablet} {
    float: left;
    width: 49%;
    height: 33.8vh;
  }
}

// Sub Content 1 Text and Images

.sub1mobile {
  display: block;
  text-align: left;
  img {
    margin-top: 8px;
    float: left;
    max-height: 20px;
  }
  p {
    float: left;
    font-size: $base-fontSize;
  }
}

.sub1Text {
  display: block;
  position: relative;
  top: 35%;
  p {
    font-size: $base-fontSize;
    @media only screen and #{$tablet} {
      font-size: $base-fontSize + 2px;
    }
  }
  h2 {
    font-family: $patuaFont;
    letter-spacing: 1.5px;
  }
  @media screen only and #{$mobile} {
    display: none;
  }
}

// Sub Content 1 Text and Images

.subContent2 {
  img {
    display: none;
  }
  p {
    @include textFormat(white, 14px, 18px);
    letter-spacing: .2px;
    position: relative;
    top: 16%;
    max-width: 90%;
    margin: 0 auto;
  }
}
