// Sub Content Containers

.subContent1 {
  @extend %subContent-container;
  @extend %centeredText;
  text-transform: uppercase;
  background-color: $aqua;
  @media screen only and #{$mobile} {
    min-height: 0px;
    height: 6vh;
    overflow: hidden;
    padding-top: .7em;
  }
}

.subContent2 {
  @extend %subContent-container;
  background-color: $aqua;
}

// Sub Content 1 Text and Images

.sub1mobile {
  display: block;
  text-align: left;
  img {
    margin-top: 8px;
    float: left;
    max-height: 20px;
  }
  p {
    float: left;
    font-size: $base-fontSize;
  }
}

.sub1Text {
  display: none;
  @media screen only and #{$tablet} {
    position: relative;
    top: 35%;
    p {
      font-size: $base-fontSize;
    }
    h2 {
      font-family: $patuaFont;
      letter-spacing: 1.5px;
    }
  }
}

// Sub Content 1 Text and Images

.subContent2 {
  img {
    display: none;
  }
  p {
    @include textFormat(white, 14px, 18px);
    letter-spacing: .2px;
    position: relative;
    top: 16%;
    max-width: 90%;
    margin: 0 auto;
  }
}
