%centeredText {
  text-align: center;
}

%clearfix {
  overflow: auto;
  clear: both;
}

%centerBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%subContent-container {
  width: $full-width;
  margin-top: 18px;
  overflow: auto;
  background-color: white;
  padding: 1em;
}
